In [1]:
import yfinance as yf 
import numpy as np
import datetime 
import matplotlib.pyplot as plt
import pandas as pd
from IPython.display import display

In [2]:
#define variables
PERIOD = 200
STARTING_BALANCE = 10000

In [3]:
#define time period
START = datetime.datetime(2005, 1, 1)
END = datetime.datetime(2015, 1, 1)
YEARS = (END - START).days / 365.25

In [6]:
price = yf.download(
    '^GSPC',
    start=START,
    end=END,
    progress=False,
    auto_adjust=False 
)

if isinstance(price.columns, pd.MultiIndex):
    price.columns = price.columns.get_level_values(0)

styled_head = price.head().style \
    .format({
        'Open': '{:,.2f}', 'High': '{:,.2f}', 'Low': '{:,.2f}', 
        'Close': '{:,.2f}', 'Adj Close': '{:,.2f}', 'Volume': '{:,.0f}'
    }) \
    .set_table_styles([
        {'selector': 'th', 'props': [('font-weight', 'bold'), ('text-align', 'left')]},
        {'selector': 'td', 'props': [('text-align', 'right')]}
    ]) \
    .set_caption("S&P 500 Data Preview")

expected_columns = ['High', 'Low', 'Open', 'Close', 'Volume', 'Adj Close']
price = price[expected_columns]
display(styled_head)